@font-face {
    font-family: "Transducer Test Regular";
    src: url("https://db.onlinewebfonts.com/t/29b618e51713f91ccd7706cf0543a3f9.eot");
    src: url("https://db.onlinewebfonts.com/t/29b618e51713f91ccd7706cf0543a3f9.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/29b618e51713f91ccd7706cf0543a3f9.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/29b618e51713f91ccd7706cf0543a3f9.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/29b618e51713f91ccd7706cf0543a3f9.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/29b618e51713f91ccd7706cf0543a3f9.svg#Transducer Test Regular")format("svg");
}
@font-face {
    font-family: "Transducer Test Medium";
    src: url("https://db.onlinewebfonts.com/t/6e4148ebbc307d42c25263d7517d6420.eot");
    src: url("https://db.onlinewebfonts.com/t/6e4148ebbc307d42c25263d7517d6420.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/6e4148ebbc307d42c25263d7517d6420.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/6e4148ebbc307d42c25263d7517d6420.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/6e4148ebbc307d42c25263d7517d6420.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/6e4148ebbc307d42c25263d7517d6420.svg#Transducer Test Medium")format("svg");
}
@font-face {
    font-family: "Transducer Test Hairline";    
    src: url("https://db.onlinewebfonts.com/t/b98274cf1aeab4d9c747ab0512a49fe9.eot");
    src: url("https://db.onlinewebfonts.com/t/b98274cf1aeab4d9c747ab0512a49fe9.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/b98274cf1aeab4d9c747ab0512a49fe9.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/b98274cf1aeab4d9c747ab0512a49fe9.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/b98274cf1aeab4d9c747ab0512a49fe9.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/b98274cf1aeab4d9c747ab0512a49fe9.svg#Transducer")format("svg");
}

$primary: #3A3129;
$primary-dark: #948069;
$accent: #B98E5D;
$background: #fff9ec;
$border: #d9e4e4;
$divider: #B98E5D6B;
$star: #FFD600;
$white: #fff;
$font-main: 'Transducer Test Hairline', Arial, sans-serif;
$font-body: "Inter", sans-serif;

@mixin flex-center {
    display: flex;
    align-items: center;
}

@mixin transition($props...) {
    transition: $props;
}

:where(html, body) {
    box-sizing: border-box;
    font-family: $font-body;
    color: $primary;
    margin: 0;
    padding: 0;
    background: $background;
}

*, *::before, *::after {
    box-sizing: inherit;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}
html {
  scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    background: $background;
    font-family: $font-body;
    color: $primary;
    box-sizing: border-box;
}

strong {
    font-family: 'Transducer Test Medium', Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Transducer Test Hairline', Arial, sans-serif;
    strong{
        color: $accent;
    }
}
p{
    strong{
        color: $accent;
        font-family: 'Transducer Test Medium', Arial, sans-serif;
    }
}


.bestseller-badge {
    display: inline-block;
    background: $primary-dark;
    color: $white;
    font-size: 14px;
    font-weight: 600;
    border-radius: 16px;
    padding: 4px 10px;
    margin-bottom: 30px;
    width: 120px;
    @include flex-center;
    gap:4px;
    img{
        width: 20px;
        height: 20px;
        filter: invert(1) brightness(2.5);
    }
}

.bestseller-features {
    margin: 0 0 24px 0;
    padding: 0 0 0 30px;
    list-style: disc;
    color: $primary;
    font-size: 16px;
    line-height: 1.7;
    font-family: $font-main;
    font-weight: 400;
    li{
    margin-bottom: 12px;
    marker: none;
    list-style-type: none;
    position: relative;
    font-size: 18px;
    @media (max-width: 600px) {
        font-size: 14px;
    }
    &::before{
        content: '';
        position: absolute;
        left: -29px;
        top: 3px;
        width: 20px;
        height: 20px;
        background: url(../images/icon-tick.svg) no-repeat center center;
        background-size: 15px;
        border-radius: 50%;
    }
}
    
}



.studies-section {
    background: $background;
    padding: 0;
}

.studies-container {
    display: flex;
    align-items: stretch;
    justify-content: center;
    max-width: 100%;
    margin: 0 auto;
    background: $background;
    @include flex-center;
    flex-direction: row;
    padding: 0;
}

.studies-image-col {
    flex: 1 1 50%;
    min-width: 0;
    display: flex;
    align-items: stretch;
    justify-content: flex-end;
    background: #f7fafa;
    overflow: hidden;
}

.studies-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.studies-text-col {
    flex: 1 1 50%;
    min-width: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 6vw;
    text-align: left;
}

h2.studies-title {
    font-family: $font-main;
    font-size: 40px;
    font-weight: 400;
    color: $primary;
    margin: 0 0 24px 0;
    line-height: 1.18;
}
h4.studies-title {
    font-family: $font-main;
    font-size: 36px;
    font-weight: 400;
    color: $primary;
    margin: 0 0 24px 0;
    line-height: 1.18;
}

.studies-desc {
    font-family: $font-body;
    font-size: 18px;
    color: $primary;
    font-weight: 300;
    line-height: 1.5;
    margin: 0;
    max-width: 520px;
}

@media (max-width: 1100px) {
    h2.studies-title {
        font-size: 28px;
    }

    .studies-text-col {
        padding: 0 20px;
    }
}

@media (max-width: 900px) {
    .studies-container {
        flex-direction: column;
        min-height: 0;
    }
    .studies-image-col,
    .studies-text-col {
        flex: none;
        width: 100%;
        min-width: 0;
        max-width: 100%;
    }
    .studies-image-col {
        min-height: 220px;
        max-height: 320px;
        justify-content: center;
    }
    .studies-image {
        height: auto;
        width: 100vw;
    }
    .studies-text-col {
        padding: 32px 20px 0px 20px;
        text-align: left;
    }
}

@media (max-width: 600px) {
    h2.studies-title {
        font-size: 24px;
        margin-bottom: 16px;
    }
    .studies-desc {
        font-size: 16px;
    }
    .studies-text-col {
        padding: 24px 20px 0 20px;
    }
}

.quality-section {
    background: $background;
    padding: 0;
}

.quality-container {
    display: flex;
    align-items: stretch;
    justify-content: center;
    margin: 0 auto;
    flex-direction: row;
    padding: 0;
}

.quality-text-col {
    flex: 1 1 50%;
    min-width: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px 6vw 40px 6vw;
    background: $background;
    text-align: left;
}

h2.quality-title {
    font-family: "Transducer Test Medium", Arial, sans-serif;
    font-size: 40px;
    font-weight: 400;
    color: $primary;
    margin: 0 0 28px 0;
    line-height: 1.18;

    .underline {
        border-bottom: 2px solid #003C3C;
        display: inline-block;
        padding-bottom: 2px;
    }
}

h4.quality-title {
    font-family: $font-main;
    font-size: 28px;
    font-weight: 400;
    color: $primary;
    margin: 0 0 28px 0;
    line-height: 150%;

    .underline {
        border-bottom: 2px solid #003C3C;
        display: inline-block;
        padding-bottom: 2px;
    }

    @media (max-width: 1100px) {
        font-size: 20px;
        margin-bottom: 16px;
    }
}

.quality-sub {
    font-family: $font-body;
    font-size: 18px;
    color: $primary;
    font-weight: 300;
    margin: 0 0 32px 0;
    line-height: 1.5;

    b {
        font-weight: 600;
    }
}

.quality-highlight {
    font-family: "Transducer Test Medium", Arial, sans-serif;
    font-size: 40px;
    color: $primary;
    font-weight: 400;
    margin: 0 0 32px 0;
    line-height: 120%;
}

.quality-desc {
    font-family: $font-body;
    font-size: 18px;
    color: $primary;
    font-weight: 300;
    line-height: 150%;
    margin: 0;
    max-width: 520px;
}

.quality-image-col {
    flex: 1 1 50%;
    min-width: 0;
    display: flex;
    align-items: stretch;
    justify-content: flex-end;
    background: #f6faf9;
    overflow: hidden;
}

.quality-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    min-height: 320px;
    display: block;
}

@media (max-width: 1100px) {
    .quality-title {
        font-size: 28px;
    }
    .quality-highlight {
        font-size: 20px;
    }
    .quality-text-col {
        padding: 40px 20px 40px 20px;
    }
}

@media (max-width: 900px) {
    .quality-container {
        flex-direction: column-reverse;
        min-height: 0;
        margin-top: 50px;
    }
    .quality-image-col,
    .quality-text-col {
        flex: none;
        width: 100%;
        min-width: 0;
        max-width: 100%;
    }
    .quality-image-col {
        justify-content: center;
    }
    .quality-image {
        width: 100vw;
    }
    .quality-text-col {
        padding: 32px 20px 40px 20px;
        text-align: left;
    }
}

@media (max-width: 600px) {
    .quality-title {
        font-size: 24px;
        margin-bottom: 16px;
    }
    .quality-highlight {
        font-size: 15px;
        margin-bottom: 16px;
    }
    .quality-desc,
    .quality-sub {
        font-size: 13px;
    }
    .quality-text-col {
        padding: 24px 20px 32px 20px;
    }
   
}