@import 'common';
@import 'header';


.system{
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
    .system-header{
        padding: 50px 0;
        font-size: 48px;
        line-height: 150%;
        font-family: "Transducer Test Medium", Arial, sans-serif
    }

    .system-content{
        padding: 0 0 50px;
        line-height: 150%;
        font-weight: 300;
    }
}


.social {
    a {
        text-decoration: none;
        margin: 0 5px;
            svg {
            width: 26px;
            height: 26px;
            fill: $primary
        }
    }
}


@import 'footer';